body{
    scroll-behavior: smooth;
}
.container{
    margin-bottom: 50px;
}
.bg-pink{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;
}
.price{
    color: #FF136F;
}
.categories h1{
    color: #FEEAE9;
}
.categories img{
    width: 100px;
}
.cat1, .cat2, .cat3{
    padding: 10px 20px 10px 40px;
    border-radius: 20px;
}
.cat1{
    background-image: linear-gradient(to left, #FF589B 0%, #FF136F 100%)
}
.cat2{
    background-image: linear-gradient(to left, #fcbe02 0%, #ff9100 100%)
}
.cat3{
    background-image: linear-gradient(to left, #004bfb 0%, #030978 100%)
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}